<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking</title>
</head>
<body>
    <h1>Reservations</h1>
    <ul style="list-style-type: none;">
        {% for item in bookings %}
            <li><b>First Name:</b> {{item.firstName}}</li>
            <li><b>Last Name:</b> {{item.lastName}}</li>
            <li><b>Phone Number: </b>{{item.phoneNumber}}</li>
            <li><b>Guest:</b> {{item.guestNumber}}</li>
            <li><b>Date:</b> {{item.day}} </li>
            <li><b>Time: </b>{{item.time}}</li>
            <li><b>Table Number:</b> {{item.table_number}}</li>
        {% endfor %}
    </ul>

        
</body>
</html>